html, body {
	margin : 0;
	padding: 0;
	width  : 100vw;
	height : 100vh;
}
.hljs {
	background: #fff;
}
.sample_0 {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.uhd.chart {
	width: 50vw;
}
.uhd.chart[type='progress']::part(container) {
	border-radius: 50px 50px;
	background-color: white;
}
.uhd.chart[type='progress']::part(value) {
	border-radius: 50px 50px;
	background-color: #ff0000;
}